<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

  var checkfield = false;
  var csrfToken = /*[[${_csrf.token}]]*/ '';
  var csrfHeader = /*[[${_csrf.headerName}]]*/ '';

  function emailConfirm(){
    var email = document.getElementById('inputEmail').value;

    if (email!==""){
      document.getElementById('emailConfirmationForm').style.display = 'block';
      $.ajax({
        url: "/findId/mailConfirm",
        method: "post",
        data: {
          "email":email
        },
        beforeSend : function (xhr){
          xhr.setRequestHeader(csrfHeader,csrfToken);
        },
        success : function (response) {
          alert("귀하의 이메일로 인증번호를 전송했습니다.");
          checkCode(response);
        }
      });
    }else
      alert("이메일을 입력해주세요");
  }
  function checkCode(response) {
    console.log(response)
    $('#verificationCode').on("keyup", function () {
      if (response !== $('#verificationCode').val()) {
       $('#emailcode').html("<span>일치하지않습니다.</span>").css({"color": "#FA3E3E"});
      } else {
        checkfield =true;
        $('#emailcode').html("<span>일치합니다.</span>").css({"color": "#0a53be"})
      }

    })
  }
  function findIdByEmailAndUsername() {
    const email = document.getElementById('inputEmail').value;
    const username = document.getElementById('inputName').value;

    if (checkfield === true) {
      if (username!=="") {
        $.ajax({
          url: "/api/findId",
          method: "get",
          data: {
            "email": email,
            "username": username
          },
          contentType: "application/json",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
          },
          success: function (response) {
            var normal = response.Normal;
            var social = response.social;

            if (normal != null)
              $('#foundId').text("일반 아이디: " + normal);
            if (social !== null)
              $('#fondsocialId').text("소셜 연동: " + social)
            if (normal===null&&social===null)
              $('#foundId').text("해당정보로 가입된 회원이 없습니다.");

            // 모달 창을 보여주는 코드
            $('#resultModal').modal('show');
          },
          error: function (xhr) {
            alert(xhr);
          }
        });
      }else
        alert("이름을 입력해주세요");
    }else
      alert("이메일인증을 해주세요");

  }

</script>

<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">아이디찾기</div>
        <div class="card-body">

          <div class="form-group">
            <label for="inputEmail" class="form-label">이메일</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="가입할 때 사용한 이메일을 입력해주세요.">
            <button class="button btn-secondary" type="button" onclick="emailConfirm()">이메일 인증</button>
          </div>

          <div class="form-group" id="emailConfirmationForm" style="display: none;">
            <!-- 이메일 인증 폼 -->
            <label for="verificationCode" class="form-label">인증 코드</label>
            <input type="text" class="form-control" id="verificationCode" required>
            <small id="emailcode"></small>
          </div>

          <div class="form-group">
            <label for="inputName" class="form-label">이름</label>
            <input type="text" class="form-control" id="inputName">
          </div>

          <div>
            <button type="button" onclick="findIdByEmailAndUsername()" class="btn btn-primary">아이디 찾기</button>
            <a href="/login" class="btn btn-danger">취소</a>
          </div>
          <div>
            <a href="/login">로그인하러 가기</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resultModalLabel">아이디 찾기 결과</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="foundId"></p>
          <p id="fondsocialId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>