<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

  var csrfToken = /*[[${_csrf.token}]]*/ '';
  var csrfHeader = /*[[${_csrf.headerName}]]*/ '';
  function findIdByEmailAndUsername(){
    alert("버튼실행");
    const email = document.getElementById('inputEmail').value;
    const username = document.getElementById('inputName').value;

    console.log(email);
    console.log(username);
    $.ajax({
      url: "/api/findId",
      method : "get",
      data: {
        "email": email,
        "username": username
      },
      contentType: "application/json",
      beforeSend : function (xhr){
        xhr.setRequestHeader(csrfHeader,csrfToken);
      },
      success : function (response){
        var normal=response.Normal;
        var social=response.social;

        if (normal!=null)
         $('#foundId').text("일반 아이디: " + normal);
        if (social!==null)
          $('#fondsocialId').text("소셜 연동: " + social)

        // 모달 창을 보여주는 코드
        $('#resultModal').modal('show');
      },
      error : function (xhr){
        alert(xhr);
      }
    });
  }
</script>

<body>
  <div class="container" th:object="${member}">
    <h1 class="mt-5">아이디 찾기</h1>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">이메일</label>
        <input type="email" th class="form-control" id="inputEmail"  aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">가입할 때 사용한 이메일을 입력해주세요.</div>
      </div>
      <div class="mb-3">
        <label for="inputName" class="form-label">이름</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <button type="button" onclick="findIdByEmailAndUsername()" class="btn btn-primary">아이디 찾기</button>
  </div>

  <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resultModalLabel">아이디 찾기 결과</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="foundId"></p>
          <p id="fondsocialId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>