<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<style>
    .error{
        color: firebrick;
    }

</style>
<style>
    .invalid-feedback{
        color: #FA3E3E;
        font-weight: bold;
        font-size: 15px;
    }
</style>
<body>
<form th:action="@{/createMember}"method="post" th:object="${member}">
    <div>
        <label th:for="usernmae">이름</label>
        <input type="text" th:field="*{username}"placeholder="이름을 입력하세요" oninput="checkUsername()" autofocus>
        <div th:class="invalid-feedback" id="userError">
            <small class="text-danger" th:errors="*{username}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="loginId" id="loginIdTxt"> 아이디</label>
        <input type="text" id="loginId" name="loginId" class="form-control"placeholder="아이디" onInput="checkDuplicateId()">
        <div class="invalid-feedback" id="loginIdError">
            <small th:class="text-danger" th:errors="*{loginId}"></small>
        </div>
    </div>
    <div>
        <label th:for="password">비밀번호</label>
        <input type="password" th:field="*{password}" placeholder="비밃번호를 입력하세여" oninput="checkPwd()">
        <div th:class="invalid-feedback" id="passwordError1">
            <small th:class="text-danger" th:errors="*{password}"/>
        </div>
    </div>

    <div>
        <label th:for="passwordRe">비밀번호 재입력</label>
        <input type="password" th:field="*{passwordRe}" placeholder="비밀번호를 재입력해주세요" oninput="checkMatchPwd()">
        <div class="invalid-feedback" id="passwordError">
            <small th:class="text-danger" th:errors="*{passwordRe}"></small>
        </div>
    </div>

    <div>
        <input type="number" id="yearInput" th:field="*{year}"placeholder="2022" style="width: 50px" min="1900" max="2020" onchange="checkYearMax()"/>
        <label th:for="year">년도</label>
        <input type="number" id="monthInput" th:field="*{month}"placeholder="1" style="width: 50px"min="1" max="12" onchange="checkMonth()"/>
        <label th:for="month">월</label>
        <input type="number" id="dayInput" th:field="*{day}"placeholder="1" style="width: 50px" min="1" max="31" onchange="checkDay()"/>
        <label th:for="day">일</label>
    </div>

    <div>
        <label th:for="phoneNumber">핸드폰번호</label>
        <input type="text" th:field="*{phoneNumber}">
        <div class="invalid-feedback">
            <small th:class="text-danger" th:errors="*{phoneNumber}"></small>
        </div>
    </div>

    <div>
        <label th:for="email">이메일</label>
        <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요" oninput="inputEmail()">
        <div class="invalid-feedback" id="emailError">
            <small th:class="text-danger" th:errors="*{email}"></small>
        </div>
    </div>
    <div class="from-group">
        <label th:for="address">주소</label>
        <input type="text" th:field="*{addressDto.zipcode}" placeholder="우편번호">
<!--        <input type="button" onClick="sample6_execDaumPostcode()" value="우편번호 찾기"/>-->
<!--        <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}">-->
<!--            <small th:class="text-danger" th:errors="*{addressDto.address}"></small>-->
<!--        </div>-->
        <input type="text" th:field="*{addressDto.address}" placeholder="주소"><br>
        <input type="text" th:field="*{addressDto.detailAddr}" placeholder="상세주소">
        <input type="text" th:field="*{addressDto.subAddr}" placeholder="참고항목">
    </div>


    <button type="submit">회원가입</button>
</form>
</body>
</html>